.about {
  //   border: 1px solid red;
  padding: 0 150px;
  padding-bottom: 110px;

  //   margin: 0 150px;

  @media (max-width: $tablet-width) {
    padding: 0 25px;
    padding-bottom: 85px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 20px;
    padding-bottom: 65px;
  }
}

.about__wrapper {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
}

.about__year {
  min-width: 170px;
  height: 220px;
  background-image: url("../img/2005.png");
  background-repeat: no-repeat;
  background-size: contain;
  // border: 1px solid red;

  @media (max-width: $tablet-width) {
    min-width: 180px;
    height: 240px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.about__description-wrapper h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: $roboto;
  font-weight: normal;
  color: $gray-headline;

  font-size: 36px;
  line-height: 50px;

  @media (max-width: $tablet-width) {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 40px;
  }
}

.about__description-wrapper p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 21px;

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
  }
}

.about__button {
  margin-top: 15px;
}
