.button {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: transparent;

  text-align: center;
  text-transform: uppercase;
  font-family: $roboto;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;

  &--action {
    background-color: $bg-blue;
    color: #ffffff;
    letter-spacing: 0.05em;
    border: none;
    white-space: nowrap;
    padding: 18px 50px;

    font-size: 16px;
    line-height: 19px;

    &:hover {
      background-color: #ebebeb;
    }

    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      background-color: #ebebeb;
      // color: $greyish-30-brown;
    }

    @media (max-width: $tablet-width) {

      padding: 18px 15px;
    }
  }

  &--callback {
    border-color: #ffffff;
    border: 1px solid #ffffff;

    &:hover {
      background-color: #5eaa2f;
    }

    &:focus {
      background-color: #5eaa2f;
    }

    &:active {
      background-color: #5eaa2f;
      color: $white-30-three;
    }
  }
}
