.form {
  display: flex;
  flex-direction: column;
}

.form__container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.form__submit-container {
  display: flex;
  justify-content: space-between;

  &--modal {
    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.form__agree-container {
  display: flex;
  width: 48%;

  &--modal {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    justify-content: flex-start;
  }
}

.form__submit {
  width: 48%;
  letter-spacing: 0.05em;

  &--modal {
    width: 100%;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
    width: 100%;
  }
}

.form__text-input {
  width: 48%;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 15px;
  margin-bottom: 40px;
  color: inherit;

  @media (max-width: $tablet-width) {
    width: auto;
  }
}

.form__text-area {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 15px;
  margin-bottom: 40px;
  resize: none;
  color: inherit;
}

.form__agree {
  margin-right: 20px;

  @media (max-width: $mobile-width) {
    margin-right: 20px;
  }
}

.form__agree-label {
  font-size: 14px;
  line-height: 16px;
}
