.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;

  @media (max-width: $tablet-width) {
    height: auto;
  }
}

.links__link {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: #000000;
  }
}
