.links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 130px;


  @media (max-width: $tablet-width) {
    height: auto;
  }
}

.links__item {
  display: inline-block;
  margin-right: 20px;
  width: 50%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.links__link {
  text-decoration: none;
  color: inherit;

  // padding-right: 10px;

  // width: 50%;


  &:hover,
  &:focus {
    text-decoration: underline;
    color: #000000;
  }
}
