.page-footer {
  box-sizing: content-box;
  background-color: $bg-white;

  font-size: 15px;
  line-height: 25px;

  // color: $white;
  // padding: 0 50px;
  padding-top: 65px;
  color: $text-footer;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 45px;
  }
}

.page-footer__wrapper {
  margin: 0 auto;
}

.page-footer__copyright {
  max-width: 1410px;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 50px;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: "";
    background: #626962;
    opacity: 0.2;
    top: 0;
    height: 1px;
    width: 300vw; /* включает в себя полосу прокрутки от body */
    margin-left: -100vw;
  }

  @media (max-width: $tablet-width) {
    padding: 0 25px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding:  10px 0;
  }
}

.page-footer__copyright-item {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;

  margin: 0;
  padding: 14px 0;
  text-decoration: none;
  color: inherit;
}

.page-footer__copyright a {

  &:hover,
  &:focus {
    text-decoration: underline;
    color: #000000;
  }
}

.page-footer__copyright-desktop {
  display: flex;
  justify-content: space-between;
  flex-grow: 0.1;
  flex-wrap: wrap;
  // width: 30%;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-footer__main {
  display: flex;
  max-width: 1410px;
  padding: 0 50px;
  padding-bottom: 25px;
  margin: 0 auto;

  // align-items: center;
  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding: 0 25px;
  }
}

.page-footer__social {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-bottom: 22px;

    margin-bottom: 32px;

    &::before {
      position: absolute;
      content: "";
      background: #626962;
      opacity: 0.2;
      bottom: 0;

      height: 1px;

      width: 300vw; /* включает в себя полосу прокрутки от body */
      margin-left: -100vw;
    }
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding-bottom: 54px;
    margin: 0;
  }
}

.page-footer__logo-link {
  margin-bottom: 30px;

  @media (max-width: $mobile-width) {
    margin-bottom: 26px;
  }
}

.page-footer__copyright-social {
  display: none;

  @media (max-width: $tablet-width) {
    display: inline;
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.page-footer__content-wrapper {
  display: flex;
  justify-content: space-between;

  flex-grow: 3;
  // padding: 65px 0;

  @media (max-width: $tablet-width) {
    // flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.page-footer__site-sections {
  position: relative;
  // border: 2px solid red;
  // flex-grow: 1;
  min-width: 50%;

  @media (max-width: $mobile-width) {
    padding: 28px 0;

    &::before {
      position: absolute;
      content: "";
      background: #626962;
      opacity: 0.2;
      bottom: 0;

      height: 1px;

      width: 200vw; /* включает в себя полосу прокрутки от body */
      margin-left: -100vw;
    }
  }
}

.page-footer__our-office {
  margin: 0;

  @media (max-width: $mobile-width) {
    padding: 28px 0;
  }
  // border: 2px solid red;
  // flex-grow: 1;
  // min-width: 25vw;
}

.page-footer__headline {
  margin: 0;
  margin-bottom: 25px;
  font-family: $roboto;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $bg-dark;
}

.page-footer__contacts {
  margin: 0;
  display: flex;
  flex-direction: column;
}
