html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: $mono;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.lock {
  overflow: hidden;
}
