//colors
$white: #ffffff;
$white-two: #f2f2f2;
$leaf: #68b738;
$pinkish-grey: #cdcdcd;
$greyish-brown: #444444;
$greyish-30-brown: rgba(68, 68, 68, 0.3);
$black-60-two: rgba(17, 17, 17, 0.6);
$black-30-two: rgba(17, 17, 17, 0.3);
$white-60-three: rgba(255, 255, 255, 0.6);
$white-30-three: rgba(255, 255, 255, 0.3);

$text-footer: #8d969b;

$bg-dark: #1b2d37;
$bg-blue: #00b2ff;
$bg-gray: #e5e5e5;
$gray-light: #ebebeb;
$bg-white: #fafafa;

$mono: "PT-Mono", "Arial", sans-serif;
$roboto: "roboto-condensed", "Arial", sans-serif;

// $desktop-width: 1024px;
$tablet-width: 1024px;
$mobile-width: 768px;

@mixin program_title {
  font-size: 24px;
  line-height: 37px;
  color: #111111;
  font-family: $font-head;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin content {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-family: $font-content;
}

@mixin content-tablet {
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  font-family: $font-content;
}
