@import "normalize";
@import "fonts";
@import "vars";
@import "blocks/page-header.scss";
@import "blocks/page-footer.scss";
@import "blocks/button.scss";
@import "blocks/social.scss";
@import "blocks/links.scss";
@import "blocks/advantages.scss";
@import "blocks/about.scss";
@import "blocks/products.scss";
@import "blocks/feedback.scss";
@import "blocks/modal-feedback.scss";
@import "blocks/form.scss";
@import "blocks/popup-layer.scss";
@import "blocks/visually-hidden.scss";

body {
  box-sizing: border-box;
  font-family: $mono;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
